{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "" %}
  {% endif %}
  
  {% if config.extra.title_addition %}
    {% set title_addition = config.extra.title_addition %}
  {% else %}
    {% set title_addition = title %}
  {% endif %}
  
  {% set description = config.description %}
  
  {{ macros_head::seo(title=title_addition, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}

{% block content %}

<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xxl-8">
        <article>
          {{ section.content | safe }}
        </article>
        {% if section.extra.next_entry_url %}      
          <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ get_url(path=section.extra.next_entry_url | default(value="/")) | safe }}">Read More Entries</a>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% if config.extra.home_graph %}
  <div id="graph"></div>
{% endif %}

</div>

{% if config.extra.home_graph %}
  {{ macros_graph::graph_js() }}
{% endif %}

{% endblock content %}
